In [1]:
import pandas as pd
import matplotlib
import numpy as np

In [2]:
HB = pd.read_excel('HISBox.xls', header=None)
EIAH = pd.read_excel("EIAH Final.xlsx", header=None)
HIS2 = pd.read_excel('RHIS2 Final.xls')

In [8]:
HB.head()

     Order#    Test
0  I2190189  HISBox
1  I2110997  HISBox
2  I1280183  HISBox
3  I1300140  HISBox
4  I1220173  HISBox

In [15]:
EIAH.head()

,Order#,Test,2,3,4,5
0,G9030738,PCPAR,CALL REQUESTED,2014-01-03,Anti Aging Health Institute,Entamoeba
1,G9220760,PCPAR,CALL REQUESTED,2014-01-22,Lab1 AS,Entamoeba
2,G9300723,PCPAR,CALL REQUESTED,2014-01-30,Genova Europe,Entamoeba
3,G9310688,PCPAR,CALL REQUESTED,2014-01-31,Sebring Clinic,Entamoeba
4,H0040940,PCPAR,CALL REQUESTED,2014-02-04,Northampton Wellness Associates,Entamoeba

In [18]:
HIS2.head()

,Order#,Test,Results,Ord. Date,Ward Name
0,G9030518,RHIS2,MOD T/C W/O RBC,2014-01-03,Referring Atlanta
1,G9300723,RHIS2,FEW T/C W/O RBC,2014-01-30,Genova Europe
2,G9310688,RHIS2,FEW T W/O RBC,2014-01-31,Sebring Clinic
3,H0040940,RHIS2,MOD T,2014-02-04,Northampton Wellness Associates
4,H0100245,RHIS2,MNY T/C W/O RBC,2014-02-10,Referring Atlanta

In [19]:
M1 = HB.merge(EIAH, how='outer', on='Order#')

In [22]:
M2 = M1.merge(HIS2, how='outer', on='Order#')

In [40]:
M2 = M2[['Order#', 'Test_x', 'Test_y', 'Test', 'Ord. Date', 3]]

In [47]:
M2[(M2.Test_x == 'HISBox') & (M2.Test_y != 'PCPAR') & (M2.Test != 'RHIS2')]['Order#']

3     I1300140
4     I1220173
11    I2191282
17    I3190441
21    I4200155
28    I5190214
29    I6180221
34    I6080124
43    I7221194
49    J0070920
50    J0060078
51    J0060382
52    I9160081
53    I9220188
54    I9180089
55    I9181001
56    I9160607
57    I9110418
58    I9020199
Name: Order#, dtype: object